<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>383309935869-hq6e2srjv6jt9h4kflfk8p60n31b7nd6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.383309935869-hq6e2srjv6jt9h4kflfk8p60n31b7nd6</string>
	<key>API_KEY</key>
	<string>AIzaSyBirowL0W7G-38-Ucx5xZmO2n2xBFTZlBg</string>
	<key>GCM_SENDER_ID</key>
	<string>383309935869</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.unomaha-ccorpuz.InternalGrowth</string>
	<key>PROJECT_ID</key>
	<string>internalgrowth-4ed09</string>
	<key>STORAGE_BUCKET</key>
	<string>internalgrowth-4ed09.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:383309935869:ios:c3047006e3bd2f5d4bba94</string>
	<key>DATABASE_URL</key>
	<string>https://internalgrowth-4ed09.firebaseio.com</string>
</dict>
</plist>